---
title: Home
description: The latest app to help you find new friends with common interests.
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Welcome to Fenglong Song's homepage!</h1>
			<!-- <p class="subtext editable">Frisco helps you find new friends with common interests. Search for a new Tennis partner, find a baking side-kick or befriend a new drinking buddy.</p> -->
			<!-- <div class="cta button alt"><a href="#">Join Now</a></div> -->
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h1 class="editable">ABOUT ME</h1>
				<p class="editable">I'm currently an undergraduate student in School of Mechanical Engineering and Zhiyuan Honors Program, Shanghai Jiao Tong University.</p>
				<!-- 下载CV文件 -->
				<a href="/files/fenglongsongCV.pdf" download="Fenglong Song CV">DOWNLOAD CV</a>
			</div>
			<div class="image">
				<img class="editable" src="zhengjianzhao.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Education</h2>
				<p class="editable"><b>B.S.</b> in Mechanical Engineering, Shanghai Jiao Tong University(SJTU), China <i>Sept. 2016-June. 2020(expected)</i></p>
				<p class="editable">School of Mechanical Engineering, <b>Zhiyuan Honors Program</b> in Engineering</p>
				<p class="editable"><b>GPA: </b>Overall: 3.77/4.3 (88.32/100), major: 3.76/4.3 (88.149/100) </p>
				<p class="editable"><b>Ranking: </b>Program: 3/57, major: 3/37</p>
			</div>
		</div>
	</section> 


	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Selected Awards</h2>
				<h3 class="editable">Scholarships </h3>
				<ul>
					<li>Zhiyuan Honor Scholarship, <i>5,000RMB/year</i>, <i>Dec. 2016, 2017, 2018</i></li>
					<li>FANUC Scholarship, <i>50,000RMB</i>, <i>Jul. 2019</i></li>
					<li>HUAWEI Scholarship, <i>5,000RMB</i>, <i>Sept. 2018</i></li>
					<li>Li Tianhe Scholarship (First Class), <i>3,000RMB</i>, <i>Sept. 2017</i></li>
				</ul>
				<!-- <p class="editable">Zhiyuan Honor Scholarship, <i>5,000RMB/year</i>, <i>Dec. 2016, 2017, 2018</i></p>
				<p class="editable">FANUC Scholarship, <i>50,000RMB</i>, <i>Jul. 2019</i></p>
				<p class="editable">HUAWEI Scholarship, <i>5,000RMB</i>, <i>Sept. 2018</i></p>
				<p class="editable">Li Tianhe Scholarship (First Class), <i>3,000RMB</i>, <i>Sept. 2017</i></p> -->
				
				<h3 class="editable">Academic Awards</h3>
				<ul>
					<li>The NSK Award of International Design Contest ROBOCON</li>
					<li>Honorable Mention in Mathematical & Interdisciplinary Contest in Modeling</li>
					<li>Second Class in Chinese Undergraduate Mathematical Contest in Modeling</li>
					<li>First Class in Shanghai Undergraduate Students Mechanics Competition</li>
				</ul>
				<!-- <p class="editable">The NSK Award of International Design Contest ROBOCON</p>
				<p class="editable">Honorable Mention in Mathematical & Interdisciplinary Contest in Modeling</p>
				<p class="editable">Second Class in Chinese Undergraduate Mathematical Contest in Modeling</p>
				<p class="editable">First Class in Shanghai Undergraduate Students Mechanics Competition</p> -->
				<h3 class="editable">Extracurricular Awards</h3>
				<ul>
					<li>Outstanding Student Cadres of Shanghai Jiao Tong University</li>
				</ul>
				<!-- <p class="editable">Outstanding Student Cadres of Shanghai Jiao Tong University</p> -->
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Patents</h2>
				<ul>
					<li>Yaou. Zhang, Xiaoshen. Yan, Fenglong. Song, Wansheng. Zhao, patent pending 2018, "A new structure of wheeled 3D moveable supporting fixture tooling", CN201811338598.X (Under review)</li>
				</ul>
				<!-- <p class="editable">Yaou. Zhang, Xiaoshen. Yan, Fenglong. Song, Wansheng. Zhao, patent pending 2018, "A new structure of wheeled 3D moveable supporting fixture tooling", CN201811338598.X (Under review)</p> -->
			</div>
		</div>
	</section>

	<section class="info">
			<div class="container flex">
				<div class="text">
					<h2 class="editable">Student Work</h2>
					<ul>
						<li>Monitor of class Eight, School of Mechanical Engineering, <i>Aug. 2016 - Sept. 2017</i></li>
						<li>Minister of department of innovation, Students’ Innovation Center, <i>Nov. 2017 - Nov. 2018</i></li>
					</ul>
					<!-- <p class="editable">Monitor of class Eight, School of Mechanical Engineering, <i>Aug. 2016 - Sept. 2017</i></p>
					<p class="editable">Minister of department of innovation, Students’ Innovation Center, <i>Nov. 2017 - Nov. 2018</i></p> -->
				</div>
			</div>
	</section>

	<section class="info">
			<div class="container flex">
				<div class="text">
					<h2 class="editable">Skills</h2>
					<p class="editable"><b>Softwares: </b>Simulink, Solidworks, UG, LabView, Origin</p>
					<p class="editable"><b>Systems&Frameworks: </b>ROS, Latex</p>
					<p class="editable"><b>Programming: </b>C++, MATLAB, python</p>
				</div>
			</div>
	</section>


	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Find your buddy today</h2>
				<p class="subtext editable">It's free, fun and an exciting way to meet new people.</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>
</div>
